* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5px;
}

.btn:hover {
    background-color: RoyalBlue;
}